:root {
    --container-width: 1480px;
    --container-padding-inline: 16px;

    --blue-light-color: #4F9CF9;
    --blue-dark-color: #043873;
    --light-color: #FFF;
    --dark-color: #212529;
    --yelow-color: #FFE492;
    --blue-color: #A7CEFC;

    --big-button-padding: 20px 20px;
    --small-button-padding: 20px 40px;
    --button-radius: 8px;

    --font-family-base: 'Inter', 'sans-serif';

    --transition-duration: 0.2s;



}