.favorite-app {

    background-image: url(../../icons/FavoriteAppBack.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
    @media (max-width: 870px) {
        background-image: url(../../icons/mobileFavorite-appBack.svg);
        background-size: cover;
    }
    &__section {
        background-color: var(--blue-dark-color);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;

        @media (max-width: 870px) {
            flex-direction: column;
            text-align: center;
        }

        animation-name: favoriteAnimation;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: view(90% 5%);
    }
 
    @keyframes favoriteAnimation {
        from {
            opacity: 0.2;
            transform: translateY(200px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    &__bollshit {
        max-width: 798px;

        @media  (max-width: 870px) {
            margin-top: 6.25rem;
        }
    }

    &__pre {
        margin: 0;
    }

    &__button {
        background-color: var(--blue-light-color);
        padding: var(--small-button-padding);
        color: var(--light-color);
    }

    &__image {
        @include tablet {
            width: 528px;
            height: 427px;
        }
    }
}