.work-together {

    
    &__title,
    &__subtitle {
        color: var(--dark-color);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;

        @media (max-width: 870px) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__bullshit {
        max-width: 610px;

        animation-name: feid-in-work-bullshit;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: view(90% 5%);
    }

    @keyframes feid-in-work-bullshit {
        from {
            opacity: 0.2;
           
            transform: translateY(-200px);
        }
        to {
            opacity: 1;
           
            transform: translateY(0px);
        }
    }
    &__title--span {
 
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 28px;
            z-index: -1;
            background-image: url(../../icons/Work-togetherSpan.svg);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__button {
        background-color: var(--blue-light-color);
        padding: var(--small-button-padding);
        color: var(--light-color);

        
        @media (max-width: 870px) {
         margin-bottom: 6.25rem
        }
    }

    &__image {

        animation-name: feid-in-work-image;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: view(90% 5%);

        @include tablet {
            width: 528px;
            height: 491px;
        }

        @media (max-width: 500px) {
            height: 259px;
            width: 278px;
        }
    }

    @keyframes feid-in-work-image {
        from {
            opacity: 0.2;
      
            transform: translateY(200px);
        }
        to {
            opacity: 1;
           
            transform: translateY(0%);
        }
    }
}